#formulario{
    margin-left: 40%;
    margin-top: 18%;
}
body {
    background-color: aliceblue;
}
h1 {
    text-align: center;
    margin-left: 20px;
}
#btSub {
    margin-left: 70px;
    padding: 20px;
}
input{
    padding: 20px;
}